@{
    ViewData["Title"] = "Home Page";
}
@* Colors: light green , bright Green #86C232, black #222629, Lighter #474B4F, lightest #6B6E70 *@
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>CTU Events</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <script async src="https://static.addtoany.com/menu/page.js"></script>
</head>
<body>
    <style>
        body {
            font-family: 'Dosis', sans-serif;
            background-color: #222629;
            color: white;
            margin: 0px;
        }

        header {
            border: 5px solid #61892F;
            text-align: center;
            margin-top: 8px;
            margin-left: 8px;
            margin-right: 8px;
        }

        nav > ul {
            list-style-type: none;
            padding-left: 0;
        }

        li {
            display: inline;
        }

        a {
            text-decoration: none;
            color: #86C232;
        }

        div {
            border: 5px solid #61892F;
            display: inline-block;
            padding: 10px;
            margin-left: 8px;
            margin-top: 8px;
        }

        #FilterBar {
            width: 97.5%;
        }

        #FavouriteList {
            width: 23%;
            height: 35%;
        }

        #List {
            width: 23%;
            height: 35%;
        }

        #Picture {
            width: 47%;
            height: 35%;
        }

        #SocialMedia {
            width: 23%;
            height: 35%;
        }

        #Information {
            width: 47%;
            height: 35%;
        }
    </style>

    <header>
        <nav>
            <ul>
                <li>@Html.ActionLink("Home", "Index")</li>
                <li>@Html.ActionLink("Language", "Language")</li>
            </ul>

            <h1>
                <a>@Html.ActionLink("CTU Events", "Index")</a>
            </h1>
        </nav>
    </header>

    <div id="FilterBar">
        <span style="float:left">Filter Bar</span>

        <label for="Order">Order</label>
        <select name="Order">
            <option>Ascending</option>
            <option>Descending</option>
        </select>

        <label for="Category">Category</label>
        <select name="Category">
            <option>Upcoming</option>
            <option>Finished</option>
        </select>

        <input type="search" style="float:right" />
    </div>

    <div id="FavouriteList">
        <h1>FavouriteList</h1>

        @*await Html.RenderPartialAsync()*@

    </div>

    <div id="List">
        <h1>List</h1>

        @*@await Html.RenderPartialAsync()*@

    </div>

    <div id="Picture">
        <h1>Picture</h1>
    </div>

    <div id="share" class="a2a_kit a2a_kit_size_32 a2a_default_style">
        <h1>SocialMedia</h1>

        <!-- Social media buttons BEGIN -->
        <div id="share" class="a2a_kit a2a_kit_size_32 a2a_default_style" style="border:none">
            <a class="a2a_dd" href="https://www.w3schools.com/jsref/prop_node_previoussibling.asp"></a>
            <a class="a2a_button_facebook"></a>
            <a class="a2a_button_twitter"></a>
            <a class="a2a_button_email"></a>
        </div>
        
        <!-- Social media buttons END -->
    </div>

    <div id="Information">
        <h1>Information</h1>
    </div>

</body>
</html>

